@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,800;1,900&family=Raleway:wght@300;400;500;600&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}




#header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(hope.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 5px 5px black;
    position: relative;
    box-shadow: 0 12px 40px black;
}

.container{
    padding: 10px 10%;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.logo{
    width: 80px;
    border-radius: 50%;
  
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
   

}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #00ff33;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: width 0.3s;
    border-radius: 30px;
    
}

nav ul li a:hover::after{
    width: 100%;
}

.sign-in{
    width: 100px;
    padding: 10px 0;
    border-radius: 30px;
    background: transparent;
    border: 2px solid #18ad18;
    color: white;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
}

span{
    width: 0;
    height: 100%;
    background: #18ad18;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
    border-radius: 30px;
}

.sign-in:hover{
    border: none;
    padding: 12px 0;
}


.sign-in:hover span{
    width: 100%;
    color: white;
    border: none;
}

.sign-in:active span{
    background-color: #0e5d1d;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;

}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;

}



.header-text h1 span{
    color: #ff004f;
}

nav .fa{
    display: none;
    color: white;
}




/* ----------------  Companies ----------------- */

.companies{
    width: 100%;
    height: fit-content;
    background: linear-gradient(rgba(0, 0, 0, 0.791),rgba(38, 37, 37, 0.582)) , url(little-plant.jpg) ; 
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.companies h2{
    text-align: center;
    text-shadow: 5px 5px 13px white;
    color: white;
    font-size: 54px;
    padding: 34px 0;
    padding-bottom: 61px;
}

.company-data{
    width: 100%;

    display: flex;
 


}

.comp-img{
    flex-basis: 30%;
    align-items: center;
    justify-content: center;
    display: flex;
 

}

.comp-img img{
    width: 320px;
}

.comp-info{
    background-color: rgb(248, 222, 30);
    display: flex;
    border-radius: 14px 0 0 14px;
    height: fit-content;
    flex-basis: 70%;
    margin: 15px;
    box-shadow: 18px 17px 28px black;

}

.info-1 , .info-3{
    border-radius: 14px 0 0 14px;

    
}
.info-2 , .info-4{
    border-radius: 0 14px 14px 0;

}

.comp-info-p{
    align-items: center;
    padding: 4% 3%;
   
}

.comp-info p{
    font-size: 18px;
}

.more{
    background: transparent;
    color: black;
    width: 100px;
    height: 45px;
    border-radius: 30px;
    border: 3px solid brown;
    outline: none;
    transition: 0.3s;
    margin-top: 2%;
    font-size: 16px;
}

.more:hover{
    background-color: brown;
    color: white;
    cursor: pointer;
}













































































































































































/* ---------- Responsive --------- */



@media only screen and (max-width:998px){
    #header{
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url(hope2.jpg);
        background-position: center;
        background-size: cover;

    }
    

    /* .header-text{
        margin-top: 100%;
        font-size: 16px;
    }



    .header-text h1{

        font-size: 30px;
        

    } */
}



@media only screen and (max-width:782px){

    nav .fa{
        display: block;
        font-size: 25px;
     
   

    }

    .sign-in{
        margin: 10px 19px;
        border-radius: none;
    }

    span{
        border-radius: none;
    }

    nav ul{
        background: #132612;
        position: fixed;
        top: 0;
        right: -199px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: 0.3s;
    }

    nav ul li{
        display: block;
        margin: 33px 19px;
    }

    nav ul li a:active{
        color: rgb(215, 204, 204);

    }


    nav ul .fa{
        position: absolute;
        left: 19px ;
        top: 14px;
        cursor: pointer;
    }

}



@media only screen and (max-width:700px){


    .company-data{
        display: block;
    }

    .comp-info{
        border-radius: 5px;
        margin: 10px;
        margin: 15px 0;
    }

    .companies h2{
        font-size: 34px;
    }

    .more{
        display: block;
        margin: auto;
    }






}























































































































































































































































































































































































